.nota {
  margin: 40px auto;
  border-radius: 5px;
  background-color: white;
  box-shadow: 1px 1px 19px 0px rgb(0 0 0 / 75%);
  -webkit-box-shadow: 1px 1px 19px 0px rgb(0 0 0 / 75%);
  -moz-box-shadow: 1px 1px 19px 0px rgba(0, 0, 0, 0.75);
}
.description {
  font-size: 0.875rem;
  color: #8e8e8e;
}
.articleContainer {
  background-color: #f8f8f8;
  padding: 15px 0;
}
.media iframe {
  width: 100%;
}
